<div class="container">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="row recipe-list">
<% @posts.each do |post| %>
<div class="col-md-4 recipe-items">
    <%= image_tag(post.image_url, width: 500) if post.image%>
    <h2><%= post.title %></h2>
    <%= link_to 'Weiterlesen', post, { :class=>"recipe-more"} %>
    </div>
<% end %>
</div>


<br>

<%= link_to 'Neues Rezept', new_post_path %>
</div>